/*
.playPageContainer{
    display:flex;
    flex-direction: row;

}
.boardContainer{
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    width:300px;
    height:250px;
    padding: 10px;
    flex: 50%;
}
.boardContainer-left{
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    width:300px;
    height:250px;
    padding: 10px;
  flex: 50%;
}
.boardContainer-right{
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    width:300px;
    height:250px;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }


*/

.playPageContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    justify-content: center;
  }
  
  .boardContainer-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
    align-content: center;
    justify-content: center;
  }
  
  .boardContainer-right {
    background-color: #d0e8eb;
    padding: 10px;
    flex: 50%;
    align-content: center;
    justify-content: center;
  }
  .buttom-left {
    background-color: #e0eaec;
    padding: 10px;
    flex: 50%;
  }
  
  .buttom-right {
    background-color: #e0eaec;
    padding: 10px;
    flex: 50%;
  }

  .buttom-middle {
    background-color: #f1f1f1;
    flex: 100%;
    
  }
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .boardContainer-left, .boardContainer-right {
      flex: 100%;
    }
  }
  @media (max-width: 800px) {
    .buttom-left, .buttom-right {
      flex: 100%;
    }
  }
.statusDisplay{
    display: grid;
    grid-template-columns: 1fr 4fr;
}