.container {
	display: grid;
	grid-template-columns: repeat(10, 20px);
	grid-template-rows: repeat(10, 20px);
}

.square {
	border: 1px solid grey;
	width: 20px;
	height: 20px;
    background-color: lightblue;
}

#miss{
    background-color: salmon;
}
#hit{
    background-color: lightgreen;
}
.square:hover  {
    background-color: yellow;
}

#miss:hover{
    background-color: grey;
}
#hit:hover{
    background-color: grey;
}

#shipColor{
    color: darkgreen;
}