.container {
    margin:20px 20px;
	display: grid;
	grid-template-columns: repeat(10, 30px);
	grid-template-rows: repeat(10, 30px);
}

.square {
	border: 1px solid grey;
	width: 30px;
	height: 30px;
    /* background-color: lightblue; */
}

#miss{
    background-color: salmon;
}
#hit{
    background-color: lightgreen;
}
.square:hover  {
    background-color: yellow;
}

#miss:hover{
    background-color: grey;
}
#hit:hover{
    background-color: grey;
}

/* .shipColor{
    color: darkgreen;
} */